*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
    font-family: 'Geologica', sans-serif;
    height: max-content;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 12s ease-in-out infinite;
    margin-top: 5vh;
    overflow: hidden;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
.works{
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:30px;
}
.col-9 p{
  font-size: 60px;
  font-family: 'Prompt', sans-serif;
  margin-bottom: 40px;
}
.container-fluid h1{
  color: rgb(13, 72, 139);
  border-bottom: 1cm #e1f1ff;
  text-align: center;
  font-weight: 1000;
  margin-bottom:20px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}
li{
  margin: 0 0 40px 20px;
  font-size:200%;
  font-family: 'Rubik', sans-serif;
  text-align: left;
  color: rgb(255, 255, 255);
}
section{
  margin-bottom:15%;
  padding: 20px;
  border-bottom:2px rgb(255, 255, 255);
  min-height: 70vh;
}
section h1{
  font-size: 4em;
  margin-bottom: 60px;
  display: grid;
  place-items:center;
  align-content: center;
  font-weight: 900;
  color: #000000;
}
h2{font-family: 'Phudu', cursive;}
.skills{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/*For Scroll effect*/
.hidden{
  opacity: 0;
  transition: ease-in-out all 1.5s;
  transform: translateX(-30%);
}
.show{
  transform:translateX(0);
  opacity: 1;
}
div.hidden{
  opacity: 0;
  transition: ease-in-out all 1.5s;
  transform: translateY(0);
}
div.show{ 
  transform: translateY(10%);
  opacity: 1;
}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(153, 163, 171);
}
/*Start Screen*/
.intro{
  position: fixed;
  z-index: 1;
  left:0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  transition: 1.4s;
}
.logo-header{
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  color:#ffffff;
} 
.logo{
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity:0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 204, 0);
  font-size: 2.5em;
}
.logo.active{
  bottom:0;
  opacity: 1;
  transition: ease-in-out 900ms;
}
.logo.fade{
  bottom:150px;
  opacity: 0;
  transition: ease-in 2s;
}

/*IMAGES CSS*/
img.web{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 5%;
  height: 400px;
  width: 600px;
  transition: all 0.1s;
 }
 img.web:hover{
  height:450px;
  width:650px;
 }
.pic{
  margin-top:6em;
  margin-left:15px;
  max-height: 300px;
  max-width: 225px;
  min-height:200px;
  min-width: 150px;
  border-radius: 20%;
}
.prog{
  margin:0 5px 0 5px;
  max-width:183.6px;
  max-height:183.6px;
  min-height:90px;
  min-width:90px;
  transition: all 1.5s;
}
.prog:hover{
  transform: scale3d(1.3,1.3,1.3);
}
.mylogo{
  border-radius: 50%;
  animation: rotation 25s infinite linear;
  max-width: 130px;
  max-height:130px;
}
i{
  transition: all 0.9s;
  size:5px;
}
i:hover{transform: translateY(-0.1em);}
